jupyter
jupyterlab
numpy
scipy
Pillow
matplotlib
opencv-contrib-python
scikit-image
scikit-learn
sentinelhub
sentinelsat
folium
fiona
shapely
geopandas
rasterio
tifffile
branca==0.3.1
geemap==0.14.2
google-api-python-client==1.12.8
pandas
whitebox
xarray
