jupyter==1.0.0
jupyterlab==3.4.3
numpy==1.23.1
scipy==1.8.1
Pillow==9.0.1
matplotlib==3.5.2
opencv-contrib-python==4.6.0.66
scikit-image==0.19.3
scikit-learn==1.1.1
sentinelhub==3.6.3
sentinelsat==1.1.1
folium==0.12.1
fiona==1.8.21
shapely==1.8.2
geopandas==0.11.0
rasterio==1.3.0
tifffile==2022.5.4
branca==0.3.1
geemap==0.16.2
google-api-python-client==1.12.8
pandas==1.4.3
whitebox==2.1.2
xarray==2022.3.0
